@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SUIT";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
       format("woff2");
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .highlight {
    @apply underline underline-offset-2 decoration-dotted decoration-primary;
  }
}
  
* {
  font-family: "SUIT";
}
  
.w-md-editor {
  box-shadow: none !important;
}

.w-md-editor-preview {
  box-shadow: none !important;
}

.wmde-markdown {
  background-color: transparent !important;
}

.wmde-markdown p {
  margin-bottom: 8px !important;
}