@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SUIT";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
       format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root, [data-theme] {
  color: black !important;
}

@media print {
  body *:not(.printable, .printable *) {
    display: none;
  }
}

@page  
{ 
    size: auto; 
    margin: 80px 64px 48px 64px;
} 

@layer components {
  .highlight {
    @apply underline underline-offset-2 decoration-dotted decoration-primary;
  }
}
  
* {
  font-family: "SUIT";
}
  
.w-md-editor {
  box-shadow: none !important;
}

.w-md-editor-preview {
  box-shadow: none !important;
}

.wmde-markdown {
  background-color: transparent !important;
}

.wmde-markdown ul {
  list-style-type: disc !important;
}

.wmde-markdown p {
  margin-bottom: 8px !important;
}

.markdown-body p {
  margin-bottom: 4px !important;
}

.markdown-body-sm {
  font-size: 0.75rem !important;
  margin-top: 32px !important;
  line-height: 1.25rem !important;
}

.markdown-body-sm > * {
  margin-bottom: 2px !important;
}