@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SUIT";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root,
[data-theme] {
  color: black !important;
}

@page {
  size: auto;
  margin: 80px 64px 48px 64px;
}

@layer components {
  .highlight {
    @apply relative underline inline-flex justify-center underline-offset-2 decoration-dotted decoration-primary !mb-0;
  }
  .ttip {
    @apply absolute opacity-0 pointer-events-none transition-opacity -top-7 whitespace-nowrap h-max bg-base-200 w-max px-2 py-1 flex flex-col font-semibold text-sm;
  }
  .highlight:hover .ttip {
    @apply opacity-100;
  }
}

* {
  font-family: "SUIT";
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.w-md-editor {
  box-shadow: none !important;
}

.w-md-editor-input * {
  font-family: var(--md-editor-font-family) !important;
}

.w-md-editor-preview {
  box-shadow: none !important;
}

.wmde-markdown {
  background-color: transparent !important;
}

.wmde-markdown ul,
.markdown-body ul {
  list-style-type: disc !important;
}

.wmde-markdown ol,
.markdown-body ol {
  list-style-type: decimal !important;
}

.wmde-markdown p {
  margin-bottom: 8px !important;
}

.markdown-body p {
  margin-bottom: 4px !important;
  line-height: 1.8 !important;
}

.markdown-body a {
  color: inherit !important;
  pointer-events: none !important;
}

.markdown-body-sm {
  font-size: 0.75rem !important;
  margin-top: 32px !important;
  line-height: 1.25rem !important;
}

.markdown-body-sm > * {
  margin-bottom: 2px !important;
}
